<div class="divAlumno">
  <div class="detailAlumno">
    <div class="columnAlumno">
      <div class="datosAlumno">
        <h3>Nombre</h3>
        <p>{{ alumno?.nombre }} {{ alumno?.apellido }}</p>
      </div>
      <div class="datosAlumno">
        <h3>Edad</h3>
        <p>{{ alumno?.edad }}</p>
      </div>
    </div>
    <div class="columnAlumno">
      <div class="datosAlumno">
        <h3>DNI</h3>
        <p>{{ alumno?.dni }}</p>
      </div>
      <div class="datosAlumno">
        <h3>Fecha de registro</h3>
        <p>{{ alumno?.fecha_registro | date : "dd/MM/YYYY" }}</p>
      </div>
    </div>
  </div>
</div>
