<h5 class="card-title">Formulario</h5>

<form class="form" [formGroup]="formularioAlumno">
  <div>
      <!-- Nombre -->
  <mat-form-field class="columnsForm">
    <mat-label>Nombre:</mat-label>
    <input matInput formControlName="nombre" placeholder="Nombre">
    <mat-error *ngIf="formularioAlumno.controls['nombre'].errors && formularioAlumno.controls['nombre'].touched">
      <span *ngIf="formularioAlumno.controls['nombre'].errors['required']">El nombre es requerido.</span>
      <span *ngIf="formularioAlumno.controls['nombre'].errors['minlength']">El nombre debe tener al menos 3 caracteres.</span>
    </mat-error>
  </mat-form-field>

  <!-- Apellido -->
  <mat-form-field class="columnsForm">
    <mat-label>Apellido:</mat-label>
    <input matInput formControlName="apellido" placeholder="Apellido">
    <mat-error *ngIf="formularioAlumno.controls['apellido'].errors && formularioAlumno.controls['apellido'].touched">
      <span *ngIf="formularioAlumno.controls['apellido'].errors['required']">El apellido es requerido.</span>
      <span *ngIf="formularioAlumno.controls['apellido'].errors['minlength']">El apellido debe tener al menos 3 caracteres.</span>
    </mat-error>
  </mat-form-field>
  </div>

  <div>
    <!-- DNI -->
  <mat-form-field class="columnsForm">
    <mat-label>DNI:</mat-label>
    <input matInput formControlName="dni" placeholder="DNI">
    <mat-error *ngIf="formularioAlumno.controls['dni'].errors && formularioAlumno.controls['dni'].touched">
      <span *ngIf="formularioAlumno.controls['dni'].errors['required']">El DNI es requerido.</span>
      <span *ngIf="formularioAlumno.controls['dni'].errors['minlength']">El DNI debe tener al menos 3 caracteres.</span>
      <span *ngIf="formularioAlumno.controls['dni'].errors['maxlength']">El DNI debe tener como máximo 8 caracteres.</span>
    </mat-error>
  </mat-form-field>

  <!-- Edad -->
  <mat-form-field class="columnsForm">
    <mat-label>Edad:</mat-label>
    <input matInput formControlName="edad" placeholder="Edad" type="number">
    <mat-error *ngIf="formularioAlumno.controls['edad'].errors && formularioAlumno.controls['edad'].touched">
      <span *ngIf="formularioAlumno.controls['edad'].errors['required']">La edad es requerida.</span>
      <span *ngIf="formularioAlumno.controls['edad'].errors['edadMinima']">La edad mínima permitida es {{formularioAlumno.controls['edad'].errors['edadMinima'].requiredAge}} años.</span>
    </mat-error>
  </mat-form-field>
  </div>
  
  <div>
    <!-- Fecha de Nacimiento -->
  <mat-form-field class="columnsForm">
    <mat-label>Fecha de Nacimiento:</mat-label>
    <input matInput formControlName="fechaNacimiento" placeholder="Fecha de nacimiento" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="formularioAlumno.controls['fechaNacimiento'].errors && formularioAlumno.controls['fechaNacimiento'].touched">
      <span *ngIf="formularioAlumno.controls['fechaNacimiento'].errors['required']">La fecha de nacimiento es requerida.</span>
    </mat-error>
  </mat-form-field>

  <!-- Email -->
  <mat-form-field class="columnsForm">
    <mat-label>Email:</mat-label>
    <input matInput formControlName="email" placeholder="Email">
    <mat-error *ngIf="formularioAlumno.controls['email'].errors && formularioAlumno.controls['email'].touched">
      <span *ngIf="formularioAlumno.controls['email'].errors['required']">El email es requerido.</span>
      <span *ngIf="formularioAlumno.controls['email'].errors['email']">Por favor, ingrese un email válido.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttonForm">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
  </form>
  
  
  
  
  
