  <!-- sidebar -->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="iconsSidebar">
        <mat-icon color="primary">home</mat-icon>
        <p>Inicio</p>
      </div>
      <div class="iconsSidebar">
        <mat-icon color="primary">shopping_cart</mat-icon>
        <p>Cursos y Carreras</p>
      </div>
      <div class="iconsSidebar">
        <mat-icon color="primary">star</mat-icon>
        <p>Servicios</p>
      </div>
      <div class="iconsSidebar">
        <mat-icon color="primary">help</mat-icon>
        <p>Ayuda!</p>
      </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <!-- toolbar -->
        <mat-toolbar>
            <button type="button" mat-button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon color="primary">menu</mat-icon>
            </button>
            <img class="logo" src="../../assets/logo.png" alt="">
            <span class="example-spacer"></span>
            <div class="iconsSidebar">
                <mat-icon color="primary">person</mat-icon>
                <p>Mi perfil</p>
              </div>
        </mat-toolbar>
        <div>
          <app-formulario-alumnos></app-formulario-alumnos>
          <app-tabla-alumnos></app-tabla-alumnos>
        </div>
    </div>

    
  
  </mat-drawer-container>
  