<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR -->
  <mat-drawer
    [opened]="true"
    #drawer
    class="example-sidenav sidebar"
    mode="side"
  >
    <div class="login">
      <mat-icon>person</mat-icon>
      <p>{{ (authUser$ | async)?.nombre }}</p>
      <p>{{ (authUser$ | async)?.apellido }}</p>
    </div>
    <mat-nav-list class="links">
      <a [routerLink]="link.path" mat-list-item *ngFor="let link of links">
        <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
        {{ link.title }}
      </a>
    </mat-nav-list>
    <div class="logout">
      <p>{{ (authUser$ | async)?.email }}</p>
      <a (click)="logout()" mat-list-item> Cerrar sesión </a>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary" class="toolbar">
      <div class="navbar">
        
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <p> CODEANDO</p>
        </div>
      
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
