<h2>Agregar Alumno</h2>
<mat-form-field>
  <mat-label>Nombre</mat-label>
  <input matInput [(ngModel)]="nuevoAlumno.nombre" placeholder="Nombre">
</mat-form-field>
<mat-form-field>
  <mat-label>Apellido</mat-label>
  <input matInput [(ngModel)]="nuevoAlumno.apellido" placeholder="Apellido">
</mat-form-field>
<mat-form-field>
  <mat-label>dni</mat-label>
  <input matInput [(ngModel)]="nuevoAlumno.dni" placeholder="DNI">
</mat-form-field>
<mat-form-field>
  <mat-label>Edad</mat-label>
  <input matInput [(ngModel)]="nuevoAlumno.edad" placeholder="Edad" type="number">
</mat-form-field>
<mat-form-field>
  <mat-label>Fecha de Nacimiento</mat-label>
  <input matInput [(ngModel)]="nuevoAlumno.fechaNacimiento" placeholder="Fecha de Nacimiento">
</mat-form-field>
<mat-form-field>
  <mat-label>Email</mat-label>
  <input matInput [(ngModel)]="nuevoAlumno.email" placeholder="Email">
</mat-form-field>
<button mat-raised-button color="primary" (click)="guardar()">Agregar</button>
<button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
